//tech-stack
.tech-stack-section__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 55px;
  margin-bottom: 50px;
  margin-right: 10px;
  color: #fff;
}

.container--tech {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Silkscreen', cursive;
}

.tech-stack-section {
  padding: 35px 50px;
  background-color: rgba(255, 255, 255, 0.427);
  border-radius: 30px;
}

.tech-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-right: -50px;
  margin-left: -50px;
  gap: 30px;
}

.tech-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  border-radius: 10px;
  margin-right: 50px;
  margin-left: 50px;
  width: calc((100% - 40px) / 5);
  background-color: #000;
  transition: transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.tech-list__icon {
  fill: #4cb2fb;
  filter: drop-shadow(2px 8px 8px rgba(86, 35, 255, 0.816));
  animation: shadow 7s infinite;
}

@keyframes shadow {
  0% {
    filter: drop-shadow(2px 8px 10px rgba(46, 182, 192, 0.816));
    transform: perspective(650px) rotateY(30deg);
  }

  50% {
    transform: perspective(650px) rotateY(-30deg);
    filter: drop-shadow(2px 8px 10px rgba(128, 69, 255, 0.816));
  }

  100% {
    transform: perspective(650px) rotateY(30deg);
    filter: drop-shadow(2px 8px 10px rgba(46, 182, 192, 0.816));
  }
}

.tech-list__item:hover,
.tech-list__item:focus {
  transform: scale(135%);
}

.tech-list__title {
  margin-top: 20px;
  color: #fff;
}

.the-end {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  font-size: 50px;
}

// Section about Team
.about-team {
  position: relative;
  background-color: rgb(255 169 66);
  font-family: 'Neucha', cursive;
}
.about-team__title {
  margin: 0;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 55px;

  background: rgb(255 222 189);
  width: 100%;
}
.about-team__img {
  width: 100%;
  display: block;
}

.about-team__sub-title {
  position: absolute;
  top: 405px;
  left: 50%;
  z-index: 20;
  transform: translate(-50%);
  margin: 0;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
}
.about-team__list {
  margin-bottom: 50px;
  padding: 0 15px 15px 15px;
  display: flex;
  justify-content: center;
  gap: 15px;
  list-style-type: none;
  flex-wrap: wrap;
}
.about-team__item {
  padding: 10px 30px;
  width: calc((100% - 20px) / 2);
  background: rgba(241, 236, 236, 0.8);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 30%);
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1),
    background-color 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.about-team__item:hover {
  background-color: #fafafa;
  transform: scale(103%);
}
.item__title {
  font-size: 28px;
  margin-bottom: 10px;
  text-align: center;
}

.about-team__item p {
  font-family: 'Ruda', sans-serif;
  font-size: 16px;
}

//HERO
.container-slide1 {
  position: relative;
  width: 1680px;
  height: 800px;
  background-image: url(../images/seven.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 5px #fff, 0 0 11px #0fa,
      0 0 20px #0fa, 0 0 30px #0fa, 0 0 55px #0fa, 0 0 80px #0fa;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

.team-label-section__title {
  position: absolute;
  top: 10%;
  right: 10%;
  font-family: 'Silkscreen', cursive;
  font-size: 75px;
  color: rgb(235, 221, 34);
  text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 5px #fff, 0 0 11px #0fa,
    0 0 20px #0fa, 0 0 30px #0fa, 0 0 55px #0fa, 0 0 80px #0fa;
  animation: flicker 1.5s infinite alternate;
}

.team-label-section__txt {
  position: absolute;
  top: 25%;
  right: 15%;
  font-family: 'Silkscreen', cursive;
  font-size: 130px;
  color: rgb(235, 221, 34);
  text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 5px #fff, 0 0 11px #0fa,
    0 0 20px #0fa, 0 0 30px #0fa, 0 0 55px #0fa, 0 0 80px #0fa;
  animation: flicker 1.5s infinite alternate;
}

/* animation */
@-webkit-keyframes scroll {
  0% {
    top: 100%;
  }

  100% {
    top: -170%;
  }
}

@-moz-keyframes scroll {
  0% {
    top: 100%;
  }

  100% {
    top: -170%;
  }
}

@-ms-keyframes scroll {
  0% {
    top: 100%;
  }

  100% {
    top: -170%;
  }
}

@-o-keyframes scroll {
  0% {
    top: 100%;
  }

  100% {
    top: -170%;
  }
}

@keyframes scroll {
  0% {
    top: 100%;
  }

  100% {
    top: -170%;
  }
}

.hidden {
  display: none;
}

//VLAD
.clients__description > li:not(:first-child) {
  padding-left: 2rem;
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../images/uoks_l25o_210929.jpg');
}

.section__clients {
  background-image: url('../images/kids_eating_ice_cream_hero.webp');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.clients--wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 10px;
}

.clients__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.clients__container--first {
  width: calc(100% / 3 * 2);
}

.clients__container--second {
  width: calc(100% / 3);
}

.clients__column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  gap: 15px;
}

.clients__img {
  gap: 15px;
  height: auto;
  border-radius: 5%;
  width: 120px;
  height: 80px;
}

.clients__description {
  padding: 20px;
  border-radius: 25px;
  width: 100%;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 1.5;
}

// features

.features__container {
  padding: 0 15px 0 15px;

  color: azure;
}

.title {
  text-align: center;
  margin-bottom: 15px;
  text-decoration: underline;
  font-size: 28px;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 10%;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  margin-right: -30px;
  margin-bottom: -30px;
}

.item {
  flex-basis: calc(100% / 4 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}
.item:last-child {
  flex-grow: 1;
}

.sub-title {
  text-align: center;
  margin-top: 15px;
  font-size: 26px;
  text-decoration: underline;
}

.sub-list {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 19px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  padding-left: 20px;

  padding: 20px;

  border-radius: 10%;
  display: flex;
  // align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  margin-right: -15px;
  margin-bottom: -15px;
}

.sub-item {
  flex-basis: calc(100% / 4 - 15px);
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.427);
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 30%;

  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;

  filter: drop-shadow(2px 8px 8px rgba(86, 35, 255, 0.816));
  animation: moon 5s infinite;
}

@keyframes moon {
  0% {
    filter: drop-shadow(2px 8px 10px rgba(46, 182, 192, 0.816));
    transform: perspective(650px);
  }

  50% {
    transform: perspective(650px);
    filter: drop-shadow(2px 8px 10px rgba(128, 69, 255, 0.816));
  }

  100% {
    transform: perspective(650px);
    filter: drop-shadow(2px 8px 10px rgba(46, 182, 192, 0.816));
  }
}

.gallery-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 50px;
}

.grid-item {
  padding: 0 15px;
  margin: 15px 0;
  width: 25%;
  height: 340px;
  &__inner {
    position: relative;
    display: flex;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 300ms linear;
    filter: grayscale(1);
    .grid-item__inner:hover & {
      transform: scale(1.05);
      filter: grayscale(0);
    }
  }
  &__title {
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-family: Neucha, cursive;
    font-size: 26px;
    color: white;
    overflow: hidden;
    text-shadow: -3px 1px 3px rgba(150, 150, 150, 1), #fc0 1px 0 10px;
    & > span {
      display: block;
      background-color: rgba(0, 0, 0, 0.3);
      width: 100%;
      padding-left: 15px;
      padding-top: 15px;
      transform: translateY(80px);
      transition: transform 300ms linear;
      .grid-item__inner:hover & {
        transform: translateY(0);
      }
    }
    & > p {
      display: block;
      background-color: rgba(0, 0, 0, 0.3);
      width: 100%;
      padding-left: 15px;
      padding-bottom: 15px;
      transform: translateY(40px);
      transition: transform 300ms linear;
      font-size: 16px;

      .grid-item__inner:hover & {
        transform: translateY(0);
      }
    }
  }
}
