.container--border{
    border: 1px solid #000;
}

.tech-stack-section__title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    margin-bottom: 50px;
    margin-right: 10px;
    color: #fff;
}

.container--tech{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Silkscreen', cursive;
}

.tech-stack-section{    
    padding: 35px 50px;
    background-color: rgba(255, 255, 255, 0.427);
    border-radius: 30px;
}

.tech-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-right: -50px;
    margin-left: -50px;
    gap: 30px;
}

.tech-list__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    border-radius: 10px;
    margin-right: 50px;
    margin-left: 50px;
    width: calc((100% - 40px) / 5);
    background-color: #000;
    transition: transform 300ms cubic-bezier(0.215, 0.610, 0.355, 1);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.tech-list__icon{
    fill: #4cb2fb;
    filter: drop-shadow(2px 8px 8px rgba(86, 35, 255, 0.816));
    animation: shadow 7s infinite;
}

@keyframes shadow{
    0%{
        filter: drop-shadow(2px 8px 10px rgba(46, 182, 192, 0.816));
        transform: perspective(650px) rotateY(30deg);
    }

    50%{
        transform: perspective(650px) rotateY(-30deg);
        filter: drop-shadow(2px 8px 10px rgba(128, 69, 255, 0.816));
    }

    100%{
        transform: perspective(650px) rotateY(30deg);
        filter: drop-shadow(2px 8px 10px rgba(46, 182, 192, 0.816));
    }
}

.tech-list__item:hover,
.tech-list__item:focus{
    transform: scale(135%);
}

.tech-list__title{
    margin-top: 20px;
    color: #fff;
}

.rotate {
    transform: rotateX(180deg);
}