html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'DM Sans', sans-serif;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
}

body {
  background: #000;
}

.container {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

@import '../sass/libs/slick';
