<div class="carousel carousel--bg">
  <div class="carousel__item">
    <div class="container container--border">
      <section class="team-label-section"></section>
    </div>
  </div>
  <div class="carousel__item">
    <div class="container container--border">
      <section class="about-team">
        <h1 class="about-team__title">О нашей фантастической семерке</h1>
        <img
          class="about-team__img"
          src="/src/images/shutterstock1.jpg"
          alt="our-team"
        />

        <h2 class="about-team__sub-title">Факапы, трудности, решения</h2>
        <ul class="about-team__list">
          <li class="about-team__item">
            <h3 class="item__title">Какие задачи стояли?</h3>
            <p>
              Перед нашей фанатстической семеркой стояла задача реализовать
              продукт "ICECREAM" согласно Технического Задания и данного нам
              макета, сделаеть его удобным, комфортным и увлекательным для любой
              категории пользователей в любой точке мира.
            </p>
          </li>
          <li class="about-team__item">
            <h3 class="item__title">Что было сделано для решения задачи?</h3>
            <p>
              Пожалуй самым основным пунктом для решения задачи я могу сказать,
              что была собрана потрясающая команда. В которой работать совместно
              комфортно, несмотря на то, что это наш первый командный проект,
              все понимают задачи и цели, понимают друг друга и видят конечный
              результат.
            </p>
          </li>
          <li class="about-team__item">
            <h3 class="item__title">
              Какие трудности были? Как их решала команда?
            </h3>
            <p>
              Самая большая трудность с которой мы столкнулись, это
              невозможность отсановить кодить эту команду. И ложа руку на сердце
              я Вам скажу, что трудностей как таковых мы не испытывали, были
              вопросы, были совещания, были дискуссии посредсвам которых мы
              находили решения, тестировали, смотрели, фиксили и снова
              тестировали. Предлагали новые фичи, обсуждали, добавляли, удаляли.
              И всё это делалось дружно и сообща.
            </p>
          </li>
          <li class="about-team__item">
            <h3 class="item__title">
              Логика, мышление и быстродействие специалистов
            </h3>
            <p>
              Команда собиралась заблаговременно до старта проекта и была
              собрана из студентов абсолютно из разных внутренних групп, каждый
              хотел скорее приступить к работе, помочь товарищам и получить
              ценные знания друг от друга. Касаемо быстродействия, менее суток
              на финальный сбор, распределение ролей и секций. Чуть больше суток
              на первую версию проекта в которой после только лишь фиксились
              баги и добавлялись "плюшки".
            </p>
          </li>
        </ul>
      </section>
    </div>
  </div>
  <div class="carousel__item">
    <div class="container container--border">
      <section class="team-members-section"></section>
    </div>
  </div>
  <div class="carousel__item">
    <div class="container container--border">
      <section class="clients-section"></section>
    </div>
  </div>
  <div class="carousel__item">
    <div class="container container--border">
      <section class="features-section"></section>
    </div>
  </div>
  <div class="carousel__item carousel__item--bg">
    <div class="container container--tech">
      <section class="tech-stack-section">
        <h2 class="tech-stack-section__title">Our Tech Stack</h2>
        <ul class="tech-list">
          <li class="tech-list__item">
            <svg class="tech-list__icon" width="65" height="65">
              <use href="./images/pepsi.svg#icon-html"></use>
            </svg>
            <h2 class="tech-list__title">HTML</h2>
          </li>
          <li class="tech-list__item">
            <svg class="tech-list__icon" width="65" height="65">
              <use href="./images/pepsi.svg#icon-css"></use>
            </svg>
            <h2 class="tech-list__title">CSS</h2>
          </li>
          <li class="tech-list__item">
            <svg class="tech-list__icon" width="65" height="65">
              <use href="./images/pepsi.svg#icon-js"></use>
            </svg>
            <h2 class="tech-list__title">JS</h2>
          </li>
          <li class="tech-list__item">
            <svg class="tech-list__icon" width="65" height="65">
              <use href="./images/pepsi.svg#icon-sass"></use>
            </svg>
            <h2 class="tech-list__title">SCSS</h2>
          </li>
          <li class="tech-list__item">
            <svg class="tech-list__icon" width="65" height="65">
              <use href="./images/pepsi.svg#icon-github"></use>
            </svg>
            <h2 class="tech-list__title">GitHub</h2>
          </li>
          <li class="tech-list__item">
            <svg class="tech-list__icon" width="65" height="65">
              <use href="./images/pepsi.svg#icon-git"></use>
            </svg>
            <h2 class="tech-list__title">Git</h2>
          </li>
          <li class="tech-list__item">
            <svg class="tech-list__icon" width="65" height="65">
              <use href="./images/pepsi.svg#icon-vscode"></use>
            </svg>
            <h2 class="tech-list__title">VSCode</h2>
          </li>
          <li class="tech-list__item">
            <svg class="tech-list__icon" width="65" height="65">
              <use href="./images/pepsi.svg#icon-figma"></use>
            </svg>
            <h2 class="tech-list__title">Figma</h2>
          </li>
        </ul>
      </section>
    </div>
  </div>
  <div class="carousel__item">
    <div class="container container--border">
      <section class="end-section"></section>
    </div>
  </div>
</div>
