<div class="carousel">
  <div class="carousel__item container-slide1">
    <div class="container">
      <section class="team-label-section">
        <h1 class="team-label-section__title">Fantastic</h1>
        <p class="team-label-section__txt">7</p>
      </section>
    </div>
  </div>
  <div class="carousel__item">
    <div class="container">
      <section class="about-team">
        <h1 class="about-team__title">О нашей фантастической семерке</h1>
        <img
          class="about-team__img"
          src="/src/images/shutterstock1.jpg"
          alt="our-team"
        />

        <h2 class="about-team__sub-title">Факапы, трудности, решения</h2>
        <ul class="about-team__list">
          <li class="about-team__item">
            <h3 class="item__title">Какие задачи стояли?</h3>
            <p>
              Перед нашей фанатстической семеркой стояла задача реализовать
              продукт "ICECREAM" согласно Технического Задания и данного нам
              макета, сделаеть его удобным, комфортным и увлекательным для любой
              категории пользователей в любой точке мира.
            </p>
          </li>
          <li class="about-team__item">
            <h3 class="item__title">Что было сделано для решения задачи?</h3>
            <p>
              Пожалуй самым основным пунктом для решения задачи я могу сказать,
              что была собрана потрясающая команда. В которой работать совместно
              комфортно, несмотря на то, что это наш первый командный проект,
              все понимают задачи и цели, понимают друг друга и видят конечный
              результат.
            </p>
          </li>
          <li class="about-team__item">
            <h3 class="item__title">
              Какие трудности были? Как их решала команда?
            </h3>
            <p>
              Самая большая трудность с которой мы столкнулись, это
              невозможность отсановить кодить эту команду. И ложа руку на сердце
              я Вам скажу, что трудностей как таковых мы не испытывали, были
              вопросы, были совещания, были дискуссии посредсвам которых мы
              находили решения, тестировали, смотрели, фиксили и снова
              тестировали. Предлагали новые фичи, обсуждали, добавляли, удаляли.
              И всё это делалось дружно и сообща.
            </p>
          </li>
          <li class="about-team__item">
            <h3 class="item__title">
              Логика, мышление и быстродействие специалистов
            </h3>
            <p>
              Команда собиралась заблаговременно до старта проекта и была
              собрана из студентов абсолютно из разных внутренних групп, каждый
              хотел скорее приступить к работе, помочь товарищам и получить
              ценные знания друг от друга. Касаемо быстродействия, менее суток
              на финальный сбор, распределение ролей и секций. Чуть больше суток
              на первую версию проекта в которой после только лишь фиксились
              баги и добавлялись "плюшки".
            </p>
          </li>
        </ul>
      </section>
    </div>
  </div>
  <div class="carousel__item">
    <div class="container">
      <section class="team-members-section"></section>
    </div>
  </div>
  <div class="carousel__item">
    <div class="container">
      <section class="section section__clients">
        <div class="clients--wrap">
          <ul class="container clients__container clients__container--first">
            <li class="clients__column">
              <img
                class="clients__img img--small"
                src="./images/Family-Ice-Cream-1024x683.webp"
                alt="picture 3"
              />
              <img
                class="clients__img img--small"
                src="./images/family_with_dog_and_ice_cream.webp"
                alt="picture 4"
              />
              <img
                class="clients__img"
                src="./images/pet-and-family.jpg"
                alt="picture 5"
              />
            </li>
            <li class="clients__column">
              <ul class="clients__description">
                <li>Семьи с детьми и домашними питомцами</li>
                <li>уделяют время ребенку и домашним любимцам</li>
                <li>любят проводить время вместе</li>
                <li>ценят уютные и комфортные места</li>
                <li>... и вкусняшки для всех членов семьи</li>
              </ul>
            </li>
          </ul>
          <ul class="container clients__container clients__container--second">
            <li class="clients__column">
              <img
                class="clients__img"
                src="./images/boss_with_ice_cream.jpg"
                alt="picture 7"
              />
            </li>
            <li class="clients__column">
              <ul class="clients__description">
                <li>Владельцы свободных помещений</li>
                <li>заинтересованы в увеличении доходов</li>
                <li>любят работать с детьми и животными</li>
              </ul>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>

  <section class="features">
    <div class="features__container">
      <h2 class="title">Все любят мороженое</h2>
      <ul class="list">
        <li class="item"><img class="img" src="./images/one.jpg" alt="" /></li>
        <li class="item">
          <img class="img" src="./images/seven.jpg" alt="" />
        </li>
        <li class="item"><img class="img" src="./images/two.jpg" alt="" /></li>
        <li class="item"><img class="img" src="./images/five.jpg" alt="" /></li>
        <li class="item"><img class="img" src="./images/four.jpg" alt="" /></li>
        <li class="item"><img class="img" src="./images/thri.jpg" alt="" /></li>
        <li class="item"><img class="img" src="./images/six.jpg" alt="" /></li>

        <li class="item">
          <img class="img" src="./images/eight.jpg" alt="" />
        </li>
      </ul>
      <h3 class="sub-title">Задачи которые решает проект:</h3>
      <ul class="sub-list">
        <li class="sub-item">
          <p>
            Наш продукт позволяет содержать всю информацию о продвигаемом
            продукте заказчика: от внешнего вида до химического состава и
            технологий производства.
          </p>
        </li>
        <li class="sub-item">
          <p>
            Разработана лаконичная дизайн-концепция с акцентом на визуальный
            прием с анимацией.
          </p>
        </li>
        <li class="sub-item">
          <p>
            Разработан путь совершения покупки с минимальным количеством шагов.
          </p>
        </li>
        <li class="sub-item">
          <p>Предусмотрена возможность заказа товара через корзину.</p>
        </li>
        <li class="sub-item">
          <p>Предусмотрено создание блога для обучения клиентов.</p>
        </li>
        <li class="sub-item">
          <p>На сайте предоставлена возможность расширения бизнесса.</p>
        </li>
        <li class="sub-item">
          <p>
            Продукт позволяет пользователю как сделать заказ онлайн так и
            посетить работающие филиалы.
          </p>
        </li>
        <li class="sub-item">
          <p>
            Перспектива представления сайта в разных языковых версиях для
            покупателей из разных регионов.
          </p>
        </li>
        <li class="sub-item">
          <p>
            Наша команда предоставляет полдный спектр услуг от разработки до
            поддержания готового продукта.
          </p>
        </li>
      </ul>
    </div>
  </section>
  <div class="carousel__item">
    <div class="container">
      <section class="features-section"></section>
    </div>
  </div>
  <div class="carousel__item carousel__item--bg">
    <div class="container container--tech">
      <section class="tech-stack-section">
        <h2 class="tech-stack-section__title">Our Tech Stack</h2>
        <ul class="tech-list">
          <li class="tech-list__item" id="color">
            <svg class="tech-list__icon" width="65" height="65">
              <use href="./images/pepsi.svg#icon-html"></use>
            </svg>
            <h2 class="tech-list__title">HTML</h2>
          </li>
          <li class="tech-list__item">
            <svg class="tech-list__icon" width="65" height="65">
              <use href="./images/pepsi.svg#icon-css"></use>
            </svg>
            <h2 class="tech-list__title">CSS</h2>
          </li>
          <li class="tech-list__item">
            <svg class="tech-list__icon" width="65" height="65">
              <use href="./images/pepsi.svg#icon-js"></use>
            </svg>
            <h2 class="tech-list__title">JS</h2>
          </li>
          <li class="tech-list__item">
            <svg class="tech-list__icon" width="65" height="65">
              <use href="./images/pepsi.svg#icon-sass"></use>
            </svg>
            <h2 class="tech-list__title">SCSS</h2>
          </li>
          <li class="tech-list__item">
            <svg class="tech-list__icon" width="65" height="65">
              <use href="./images/pepsi.svg#icon-github"></use>
            </svg>
            <h2 class="tech-list__title">GitHub</h2>
          </li>
          <li class="tech-list__item">
            <svg class="tech-list__icon" width="65" height="65">
              <use href="./images/pepsi.svg#icon-git"></use>
            </svg>
            <h2 class="tech-list__title">Git</h2>
          </li>
          <li class="tech-list__item">
            <svg class="tech-list__icon" width="65" height="65">
              <use href="./images/pepsi.svg#icon-vscode"></use>
            </svg>
            <h2 class="tech-list__title">VSCode</h2>
          </li>
          <li class="tech-list__item">
            <svg class="tech-list__icon" width="65" height="65">
              <use href="./images/pepsi.svg#icon-figma"></use>
            </svg>
            <h2 class="tech-list__title">Figma</h2>
          </li>
        </ul>
        <a class="the-end" href="./partials/egor.html">THE END</a>
      </section>
    </div>
  </div>
</div>
